.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
rsconnect
data/responses.csv
data/shapes.json
data/temp
data/survey_targets.csv
data/corrections.RDS
data/change_log.RDS
auth/*
!auth/create_user_db.R
R/secure_option.R