
/* CLASSES */

/* all text */
html, body {
  font-family: 'Asap', sans-serif;
}

/* background */
.content-wrapper {
  background-color: #F3F4F6;
}

.navbar {
  background-color: #00A6E1 !important;
}

.skin-blue .main-header .logo {
  
  background-color: #0087B7;
}

/* box titles */
.box-title {
  font-weight: bold; 
  font-size: 30px !important;
  color: #00A6E1;
  padding-left: 10px;
}
 
 /* value boxes */
 .small-box {
   border-radius: 10px; 
   height: 133px;
   box-shadow: 0 1.5px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.1);
   background-color: #00A6E1 !important;
 }
 
 /* value box icons */
 .small-box .icon-large {
   right: 3vh; 
   top: 1vh; 
   font-size: 38px;
 }
 
 /* value box text */
 .small-box .inner {
   margin-left: 10px; 
   padding-top: 10px;
 }
 
 .box {
   border-radius: 10px; 
   border: 0px solid #a3a3a3 !important;
   box-shadow: 0 1.5px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.1);
   
 }
 
 .box .box-solid {
   padding: 0px !important;
 }
 
 .action-button {
   border-radius: 10px;
 }
 
 /* user input boxes */
 .shiny-input-textarea {
   border-radius: 6px;
 }
 
  .shiny-input-text {
   border-radius: 6px;
 }
 
  .shiny-input-number {
   border-radius: 6px;
 }
 
 .nav-tabs-custom {
   border-radius: 10px; 
   box-shadow: none;
 }
 
  /* column filter box */
 .form-group.has-feedback {
   min-width: 100px;
 }
 
 /* column filter box text space */
 .form-control {
   min-width: 100px;
   padding-right: 23px !important;
   padding-left: 10px !important;
 }
 
 /* clear column filter box icon */
 .glyphicon.glyphicon-remove-circle.form-control-feedback {
   margin:0px;
   padding:0px;
 }
 
 .form-group.shiny-input-container.shiny-input-checkboxgroup.shiny-input-container-inline {
   display:inline-block !important;
 }
 
 /* box on map showing number of shapes displayed */
 .info.legend.leaflet-control {
   
 }

/* ---- header ---- */

#disclaimer {
  color: #F3F4F6;
  margin-top: 15px;
  margin-right: 20px;
}

#generate-data-link {
  background: transparent;
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
  display:inline-block;
}

#generate-data-link:hover {
  color: #39CCCC;
}

#refresh {
  margin-top: 10px;
  margin-right: 8px;
  background-color: #256EA9;
}
 
 /* ---- overview page ---- */
 
 /* center all elements on overview page*/
#overview-tab {
   align-items: center !important;
   justify-content: center !important;
   display: flex;
   flex-direction: column;
 }
 
 #top-row {
   padding: 0px;
   margin: 0px;
 }
 
  #latest-data {
   color: #2E4052; 
   height: 79px;
   text-align: center;
   font-size: 18px !important;
 }
 
 #latest-data-box {
   margin-bottom: 10px;
 }
 
  #island-selector {
   height: 74px;
 }
 
 #data-island-stack {
   padding: 0px; 
   max-width: 300px;
   height: 153px;
 }
 
 #value-box-row {
   padding:0px;
   max-width: 900px;
 }
 
 #sec-resp-metric-select {
   display:inline-block; 
   margin-right: 10px;
 }
 
 #target_table {
   font-size: 15px !important;
 }
 
 #target-box {
   max-width: 1200px;
   padding-right: 0;
   padding-left: 0;
 }
 
 #plots-row {
   max-width: 1172px !important;
 }
 
 #demo-plot-box {
   padding-right: 0;
   padding-left: 0;
 }
 
 #demo_plot {
  height: 480px !important;
 }
 
  #resp_plot {
  height: 480px !important;
 }
 
 #resp-plot-box {
   padding-right: 0;
   padding-left: 0;
 }

#resp-plot-box > div > div > div.box-body > div.direct-chat-contacts-open {
   max-width: 150px !important;
 }
 
 /* ---- datatable page ---- */
 
 #DataTables_Table_0 {
   box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0) !important;
 }
 
  #dt_view_shapes {
   margin-top: 10px;
   margin-bottom: 0px;
   margin-right: 10px;
   background-color: #00A6E1;
   color: white;
   height: 25px;
   font-size: 11pt;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
 }
 
 #download_responses_bttn {
   background-color: #00A6E1;
   color: white;
   margin-bottom: 20px;
   height: 25px;
   font-size: 11pt;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
 }
 
 #dt-box {
   width: 2000px;
   overflow-x: auto !important;
 }
 
 #dt-box > div > div > div.box-body {
   padding-bottom: 5px !important;
 }
 
 #dt-box > div > div {
   margin-bottom: 5px !important;
 }
 
 #corrections_table {
   overflow-y: auto !important;
 }
 
 #corrections-text-input {
   display: inline-block;
   width: 500px;
   margin-right: 20px;
 }
 
  #corrections-reason-input {
   display: inline-block;
   width: 500px;
 }

  #submit_correction {
   background-color: #00A6E1;
   color: white;
   float: right;
   margin-right: 15px;
 }
 
 /* ---- shape viewer page ---- */
 #map {
   height: calc(80vh) !important;
 }
 
 #shape-viewer-box {
   padding-right: 0px;
   padding-left: 5px;
 }
 
 #region_text {
   font-weight: bold;
   margin-bottom: 7px;
 }
 
 #filter-facil {
   margin-top: 30px;
   width: 150px;
 }
 
 #filter-id-text {
   font-weight: bold; 
   margin-top: 20px; 
   margin-bottom: 7px;
 }
 
 #filter-id-toggle {
   display:inline-block;
   margin-right: 10px; 
 }
 
 #shape-id {
   display:inline-block; 
   height: 50px;
   width: 240px;
 }
 
 #clear_shape_filters {
   background-color: #00A6E1;
   color: white;
   margin-bottom: 20px;
   margin-right: 10px;
   height: 25px;
   font-size: 11pt;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
 }
 
 #download_filtered_shapes_bttn {
   background-color: #00A6E1;
   color: white;
   margin-bottom: 20px;
   height: 25px;
   font-size: 11pt;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
 }
 
 #shapes-number {
   font-size: 20px;
   font-weight: bold;
   display: inline;
 }
 
/* ---- reporting page ---- */

 #reporting-total-box {
   max-width: 800px !important;
 }
  
 #reporting-sector-box {
   max-width: 1100px !important;
 }
 
 #download_report_totals_bttn {
   float: right;
   display: inline-block;
   background-color: #00A6E1;
   color: white;
   height: 25px;
   font-size: 11pt;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
 }
 
  #download_report_sector_bttn {
   float: right;
   display: inline-block;
   background-color: #00A6E1;
   color: white;
   height: 25px;
   font-size: 11pt;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
 }
  
 #reporting_totals_title {
   font-weight: bold; 
   font-size: 30px !important;
   color: #00A6E1;
   padding-left: 10px;
   display: inline-block;
 }
 
  #reporting_by_sector_title {
   font-weight: bold; 
   font-size: 30px !important;
   color: #00A6E1;
   padding-left: 10px;
   display: inline-block;
 }
 
 
 
 
 
 
 