
/* CLASSES */

/* all text */
html, body {
  font-family: 'Asap', sans-serif;
}

/* background */
.content-wrapper {
  background-color: #F3F4F6;
}

/* box titles */
.box-title {
  font-weight: bold; 
  font-size: 30px !important;
  color: #2B7EC2;
  padding-left: 10px;
}

/* scrollable window in datatable */
 .dataTables_scrollBody {
   height: calc(70vh - 65px);
 }
 
 /* value boxes */
 .small-box {
   border-radius: 10px; 
   height: 133px;
   box-shadow: 0 1.5px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.1);
 }
 
 /* value box icons */
 .small-box .icon-large {
   right: 3vh; 
   top: 1vh; 
   font-size: 38px;
 }
 
 /* value box text */
 .small-box .inner {
   margin-left: 10px; 
   padding-top: 10px;
 }
 
 .box {
   border-radius: 10px; 
   border: 0px solid #a3a3a3 !important;
   box-shadow: 0 1.5px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.1);
   
 }
 
 .box .box-solid {
   padding: 0px !important;
 }
 
 .nav-tabs-custom {
   border-radius: 10px; 
   box-shadow: none;
 }
 
  /* column filter box */
 .form-group.has-feedback {
   min-width: 100px;
 }
 
 /* column filter box text space */
 .form-control {
   min-width: 100px;
   padding-right: 23px !important;
   padding-left: 10px !important;
 }
 
 /* clear column filter box icon */
 .glyphicon.glyphicon-remove-circle.form-control-feedback {
   margin:0px;
   padding:0px;
 }
 
 .form-group.shiny-input-container.shiny-input-checkboxgroup.shiny-input-container-inline {
   display:inline-block !important;
 }
 
 /* box on map showing number of shapes displayed */
 .info.legend.leaflet-control {
   
 }

 
 /* ---- analytics page ---- */
 
 #top-row {
   padding: 0px;
 }
 
  #latest-data {
   color: #2E4052; 
   height: 79px;
   text-align: center;
   font-size: 18px !important;
 }
 
 #latest-data-box {
   margin-bottom: 10px;
 }
 
  #island-selector {
   height: 74px;
 }
 
 #data-island-stack {
   padding: 0px; 
   max-width: 300px;
   height: 153px;
 }
 
 #value-box-row {
   padding:0px;
   max-width: 900px;
 }
 
 #sec-resp-metric-select {
   display:inline-block; 
   margin-right: 10px;
 }
 
 #target_table {
   font-size: 15px !important;
 }
 
 #target-box {
   max-width: 1200px;
   padding-right: 0;
   padding-left: 0;
 }
 
 #plots-row {
   max-width: 1172px !important;
 }
 
 #demo-plot-box {
   padding-right: 0;
   padding-left: 0;
 }
 
 #demo_plot {
  height: 480px !important;
 }
 
  #resp_plot {
  height: 480px !important;
 }
 
 #resp-plot-box {
   padding-right: 0;
   padding-left: 0;
 }
 
#resp-plot-box > div > div > div.box-body > div.direct-chat-contacts-open {
   max-width: 150px !important;
 }
 
 /* ---- datatable page ---- */
 
  #dt_view_shapes {
   margin-top: 10px;
   margin-bottom: 0px;
   background-color: #2B7EC2;
   color: white;
 }
 
 #DataTables_Table_1_filter {
    /*float: left;*/
}

 #datatable {
   max-width: 1400px !important;
 }
 
 #dt-box {
   max-width: 1400px !important;
 }
 
 
 
 
 /* ---- shape viewer page ---- */
 #map {
   height: calc(80vh) !important;
 }
 
 #select_all_map_regions {
   margin-bottom: 15px;
   border-color: #2B7EC2;
   color: #2B7EC2;
 }
 
  #deselect_all_map_regions {
   margin-bottom: 15px;
   border-color: #2B7EC2;
   color: #2B7EC2;
 }
 
 #region_text {
   font-weight: bold;
   margin-bottom: 7px;
 }
 
 #filter-facil {
   margin-top: 30px;
   width: 150px;
 }
 
 #filter-id-text {
   font-weight: bold; 
   margin-top: 20px; 
   margin-bottom: 7px;
 }
 
 #filter-id-toggle {
   display:inline-block;
   margin-right: 10px; 
 }
 
 #shape-id {
   display:inline-block; 
   height: 50px;
   width: 240px;
 }
 
 #clear_shape_filters {
   background-color: #2B7EC2;
   color: white;
   margin-bottom: 20px;
 }
 
 #shapes-number {
   font-size: 20px;
   font-weight: bold;
   display: inline;
 }
 
/* ---- reporting page ---- */

 #reporting-total-box {
   max-width: 800px !important;
 }
  
 #reporting-sector-box {
   max-width: 1100px !important;
 }
 
 #download_report_totals_bttn {
   float: right;
   display: inline-block;
   background-color: #2B7EC2;
   color: white;
 }
 
  #download_report_sector_bttn {
   float: right;
   display: inline-block;
   background-color: #2B7EC2;
   color: white;
 }
  
 #reporting_totals_title {
   font-weight: bold; 
   font-size: 30px !important;
   color: #2B7EC2;
   padding-left: 10px;
   display: inline-block;
 }
 
  #reporting_by_sector_title {
   font-weight: bold; 
   font-size: 30px !important;
   color: #2B7EC2;
   padding-left: 10px;
   display: inline-block;
 }
 
 
 
 
 
 
 